<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Koti</title>

        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <h1>Tervetuloa!</h1>
        <div id="content">
            <a href="/login">Kirjaudu sisään</a>
            <a href="/signup">Rekisteröidy</a>
        </div>
    </body>

</html>