<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohjeet</title>

    <link rel="stylesheet" href="/styles/instructions.css">
</head>

<body>
    <a href="/home">Takaisin</a>
    <h1>Ohjeet ja säännöt.</h1>
    <h3>Pelissä on 40 korttia</h3>
    <h4>Maat</h4>
    <ul id="maat">
        <li>
            <p>Iphitadus 10kpl: </p><img src="/images/kortti1.png" alt="" width="50" height="100">
        </li>
        <li>
            <p>Thusoh 10kpl: </p><img src="/images/kortti2.png" alt="" width="50" height="100">
        </li>
        <li>
            <p>Ibysios 10kpl: </p><img src="/images/kortti3.png" alt="" width="50" height="100">
        </li>
        <li>
            <p>Sotypnos 10kpl: </p><img src="/images/kortti4.png" alt="" width="50" height="100">
        </li>
    </ul>

    <h3>Pelin kulku</h3>

    <h4>Kortin nosto</h4>
    <div>
        <p>Kortin nosto tapahtuu painamalla nosta nappia.</p>
        <p>
            <span>Jos vihollisella ei ole korttia ja nostat kortin, niin peli nostaa kortin myös viholliselle.</span>
            <span>Muuten, jos vihollisella on kortti nosto nappi nostaa kortin vain pelaajalle.</span>
        </p>
        <img src="/instructionsImages/NostoKuva.PNG" alt="" width="600" height="350">
    </div>

    <p>tulos</p>
    <div>
        <img src="/instructionsImages/NostoTapahtumaKuva.PNG" alt="" width="400" height="350">
        <p>tai</p>
        <img src="/instructionsImages/NostoTapahtumaKuva1.PNG" alt="" width="400" height="350">
    </div>

    <h4>Kortin pelaaminen!</h4>

    <div>
        <p>Kortin voi pelata siitä painamall. Huom. kortin on oltava sama kuin vihollisen kortti.</p>
        <img src="/instructionsImages/kortinPelausKuva.PNG" alt="" width="400" height="400">
    </div>

    <h4>Pelin päättyminen</h4>

    <div>
        <p>Häviät pelin, jos kätesi täyttyy.</p>
        <p>Pelin häviö</p>
        <img src="/instructionsImages/PelinHavio.PNG" alt="" width="1000" height="500">
        <p>Pelin voitto</p>
        <img src="/instructionsImages/PelinVoitto.PNG" alt="" width="1000" height="500">
    </div>
</body>

</html>