<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/styles/login.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/login/login.js"></script>
</head>

<body>
    <div id="keskusta">
        <pre id="message" width="100"></pre>
        <h1>Kirjaudu sisään</h1>
        <form id="login-form">
            <p>Käyttäjänimi</p>
            <input type="text" id="username-input" placeholder="Käyttäjänimi">

            <p>Salasana</p>
            <input type="password" id="password-input" placeholder="Salasana">

            <br>

            <button id="submit-button">Kirjaudu sisään</button>
        </form>
</body>

</html>