<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User home</title>

        <link rel="stylesheet" href="/styles/home.css">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/userhome.js"></script>
    </head>

    <body>
        <button id="logout-button">Kirjaudu ulos</button>
        <div id="content">
            <h1>Kortti peli</h1>
            <a href="/instructions">Ohjeet ja säännöt</a>
            <button id="start-button">Aloita peli</button>
        </div>
    </body>

</html>